body {
  height: 100vh;
  margin: 0 auto;
  background: white;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: brown;
  height: 60px;
}

header img {
  display: inline-block;
  float: left;
  padding: 5px;
}

h2 {
  margin-top: 10px;
  color: white;
  display: inline-block;
  line-height: 60px;
  font-weight: 300;
}

h3 {
  display: none;
  justify-content: center;
  font-size: 25px;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 30px;
}

#garage-button {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
	border-radius: 10px;
	font-size: 15px;
  border-bottom: 2px solid brown;
}

.closed {
  color: black;
  background-color: #7ACED7;
}

.open {
  color: black;
  background-color: lightgray;
}

#garage-button:active {
	transform: translate(0px,2px);
	border-bottom: 1px solid;
  transition: all 0.1s;
}

#garage-items {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
}

li {
  list-style-type: none;
  padding: 10px 0px;
  border-bottom: 1px solid brown;
  position: relative;
}

li p {
  margin: 0px;
  position: relative;
}

.add-new {
  display: none;
  margin: 40px auto;
  padding: 20px;
  align-items: center;
  height: 25px;
  width: 80%;
  background-color: lightblue;
}

.add-new label {
  font-size: 13px;
  color: black;
  padding-left: 8px;
}

.add-new select {
  width: 85px;
  height: 20px;
  margin: 3px;
  border: 1px solid black;
  outline: none;
}

.add-new .save-item, .order-button, .date-button, .cleanliness-button  {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
	border-radius: 10px;
  border-bottom: 2px solid black;
  background-color: brown;
  color: white;
}

.sorting {
  display: none;
  margin: 10px;
}

.add-new .save-item:active, .order-button:active, .date-button:active, .cleanliness-button:active {
	transform: translate(0px,2px);
	border-bottom: 1px solid white;
  transition: all 0.1s;
}

.add-new .save-item:hover, .order-button:hover, .date-button:hover, .cleanliness-button:hover {
  background-color: lightgray;
  color: black;
}

.add-new input {
  padding: 3px;
  margin: 3px;
  border: 1px solid black;
  outline: none;
}

.add-new p {
  color: brown;
  font-weight: 600;
  font-size: 22px;
  padding-right: 5%;
}

#garage-count {
  display: flex;
  justify-content: space-around;
}

#error {
  margin-top: -50px;
  color: red;
  background-color: #ffe5e5;
  width: 80%;
  margin: 10px auto;
}

.name {
  font-size: 17px;
  text-decoration: underline;
  font-weight: 600;
  padding-bottom: 10px;
}

.name:hover {
  color: brown;
}

.cleanliness-rating {
  font-size: 13px;
}
